@font-face
  font-family Brandon
  src url(fonts/Brandon_reg.otf) format("openType")
  
@font-face
  font-family Brandon Light
  src url(fonts/Brandon_light.otf) format("openType")
  
@font-face
  font-family Brandon Thin
  src url(fonts/Brandon_thin.otf) format("openType")
  
@font-face
  font-family Brandon Bold
  src url(fonts/Brandon_bld.otf) format("openType")
  
@font-face
  font-family Brandon Black
  src url(fonts/Brandon_blk.otf) format("openType")